@tailwind base;
@tailwind components;
@tailwind utilities;


/* Dùng @layer ten_thu_muc_chua { để định nghĩa các class riêng } */
@layer components {
    /* Dùng để định nghĩa các class container phục vụ responsive */
    .container {
        @apply px-4 mx-auto w-full sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] 2xl:w-[1320px]
    }
    /* Dùng để xóa các khung scroll */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* firefox */
    }
    .filter-btn {
        @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out;
    }

}